@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Roboto' , sans-serif;
}



/* Menu Hamburger */



#icon {
    position:fixed;
    cursor: pointer;
    top: 6%;
    left: 3%;
    z-index: 5;
    transition: all 2s;
}


#logo {
    background-size: contain; 
    background-image: url("../img/logowcs.png"); 
    position:fixed;
    cursor: pointer;
    top: 3%;
    right: 3%;   
    width: 5em;
    height: 4.985351319em;
    z-index: 5;
    transition: all 0.5s;
}

#nav {
    z-index: 4;
    right:100%;
    position:fixed;
    width: 30%;
    height: 100%;
    background: white ;
    box-shadow: 0 0 10px black;
    transition : all 0.6s;
    display: flex;
}

ul {
    padding: 0;
    margin: auto;
    list-style: none;
    width: 50%;
}

ul > a {
    text-decoration: none;
    color:black;
}

ul > a:before {
    content: "";
    position: absolute;
    width: 30%;
    height: 3px;
    margin-left: 10%;
    margin-top: 14%;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.4s ;
}

ul > a:hover:before,
ul > a:focus:before {
  transform: scaleX(1);
}

.menuTop {
    margin-bottom: 20px;
}

.navMenu {
    text-align: center;
    padding: 10%;
    font-size: 1.5vw;
}

.slash {
    opacity : 1;
    background-color: white;
    width: 50px;
    height: 5px;
    top : 0px;
    margin-top:7px;
    border-radius: 50px;
    position: relative;
    transition : all 0.5s;
}

.slash:first-child {
    margin-top:0px;
}

.colorSlash {
    background-color: black;
}

.sombre {
    z-index: 3;
    position: fixed;
    transition: all 1s;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

#social {
    width: 100%;
}

.social {
    width: 5em;
    height: 5em;
    transition: all 0.3s;
    margin: auto;
}



/* Cover */



#fond {
    top:-10%;
    position: fixed;
    width: 100%;
}

#fondgraph {
    top:-12%;
    left:-20%;
    opacity: 0.4;
    position: fixed;
    width: 180%;
}


#cover {
    display: flex;
    height: 86%;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
}

#titre {
    margin: auto;
    color: white;
    font-size: 3.5vw;
    text-align: center;
    text-shadow: 0 0 10px black;
}



/* Body */



#body {
    background: linear-gradient( white,#fd9d45, #fd4932);

    box-shadow: 0 0 20px black;
    height: auto;
}

.white {
    background: white;
    padding-bottom: 3%;

}

.graph{
    width: 100%;
    margin-bottom: -8%;
}

.width {
    width: 100%;
    display:flex;
}

.container {
    display: flex;
    position: relative;
}

#picto {
    width: 10em;
    height: 10em;
    margin:-5em auto 0 auto;
    transition: all 0.3s;

}

#picto:hover {
    width: 11em;
    margin:-5.5em auto 0 auto;
    height: 11em;
}



/* Questionnaire */



#sur20 {
    text-align: center;
    transition: all 2s;
    font-size: 3vw;
    font-weight: bolder;
    margin-bottom: 10px; 
}

#formulaire {
    background: white;
    margin: auto;
    margin-top: 3%; 
    padding: 30px 40px;
    width: 70%;
    transition : all 1s;
    border-radius: 10px; 
}

#formulaire:hover {
    box-shadow: 0 0 10px #666666;
}

#form {
    overflow-y: scroll;
    height: 29.5em;
}

.question {
    font-weight: bold;
    font-size: 2vw;
}

.ques {
    margin-top: 10px;
}

#submit {
    border: 0px;
    margin: auto;
    width: auto;;
    height: auto;
    margin-top: 20px; 
    padding: 10px ;
    background: #3cb878;
    transition: all 200ms;
    color: white;
    font-size: 1.5vw;
    border-radius: 5px; 

 }

 #submit:hover {
    background: #36a86e;
    cursor: pointer;
 }

 #submit:focus {
    outline: 0px;
 }

.answer {
    margin: 10px 0 15px 0;
    opacity: 0;
    transition: opacity 1s;
    transition: padding 0.5s;
    border-style: dashed;
    color : #fd4932;
    background: rgba(253, 73, 50, 0.25);
    border-color:  rgba(253, 73, 50, 0.5);

}

.appear {
    opacity: 1 !important;
    padding: 10px;
}

.good {
    color : #3cb878 !important;
    background: rgba(60, 184, 120, 0.25)!important;
    border-color:  rgba(60, 184, 120, 0.5)!important;
    
}

/*Barre de progression */
/***********************/
#myBar {
    margin: auto;
    margin-bottom: 20px;
    width: 0%;
    height: 25px;
    background: linear-gradient( 90deg,#3cb878, #36a86a);
    text-align: center;
    line-height: 25px;  
    color: white; 
    border-radius: 5px; 
    transition: width 1s, opacity 2s;
   
}
/************************/


/* Footer */


#footer {
    height: 5em;
    width: 100%;
    display: flex;
    background: white;
}

#foot {
    width: 100%;
    margin-bottom: -1%; 
}
#copyright {
    font-style: italic;
    margin: auto;
}

